body{
    background-color: aqua;
    font-size: small;
    background-image: url(pic.jpg);
    background-repeat: no-repeat;
    background-position: center;
    
   
}
div{
    height: 50px;
    font-weight: 50px;
    border-radius: 50px;
    background-color: black;
   
}
.highlight{
    color: yellow;
    display: flex;
    
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-style: italic;
    margin: 30px;

}
p{
    
    
    margin: 70px;
}