#orignal{
  filter: blur(5px);
}
#old{
  filter: brightness(50%);
}
#con{
  filter: contrast(100%);
}
#drop{
  filter: drop-shadow(8px 8px 10px red );
}
#gray{
  filter: grayscale(1);
}
#rotate{
  filter: hue-rotate(100deg);
}
#invert{
  filter: invert(100%);
}
#opacity{
  filter: opacity(70%);
}
#opacity:hover{
  filter: opacity(100%);
}
#saturate{
  filter: saturate(200%);
}
#sapia{
  filter: sepia(100%);
}