div{
  background-color: aquamarine;
  height: 300px;
  width: 300px;
  /* transition:  transform 5s ease ; */
    transition:  background-color 3s,border-radius 5s,transform 5s ease ;
}

div:hover{
  border-radius: 100px;
  background-color: black;
  transform: scale(0.6);
}